<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>个人小站</title>

    <!-- 图标 -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/strapdown.css" rel="stylesheet">

    <script src="/static/js/jquery-3.1.1.min.js"></script>
    {% block css_content %}
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
		<a href="{% url 'index' %}" class="navbar-brand" style="font-size: 20px;">Claymore的博客小站</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'post_content' filename='README.md' %}">个人笔记</a>
            </li>

            <li>
              <a href="{% url 'archives' %}">归档</a>
            </li>

            <li>
              <a href="">书音影</a>
            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
	    <li><a href="{% url 'aboutMe' %}" target="_blank">关于我</a></li>
	    <li><a href="{% url 'messages' %}" target="_blank">留下你的脚印👣</a></li>
	    <li><a href="{% url 'life' %}">㊙</a></li>
          </ul>

        </div>
      </div>
    </div>
    
    <!-- 模版继承 -->
    {% block main_body %}
    {% endblock %} 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    </body>
</html>
