{% extends "index_basic.html" %}

{% block css_content %}
<link href="/static/css/time.css" rel="stylesheet">
{% endblock %}

{% block main_body %}
<div id="div_header" class="container">
</div>

<div class="container">
  <div id="time_bottom" class="row">
        {% for year in years_dis %}
        <div class="col-xs-2">
          <button class="circle_btn">{{ year }}</button>
        </div>
        {% endfor %}
        <div class="col-xs-2">
          <img src="/static/time_gif.gif">
        </div>
  </div>

<p id="testp"></p>

</div>
<script src="/static/js/dealData.js"></script>
{% endblock %}
