{% extends "index_basic.html" %}

{% block css_content %}
<style type="text/css">
#id_name{
	
}
</style>
{% endblock %}

{% block main_body %}
<div class="container">
<div id="error" class="alert alert-warning" role="alert">{{ error }}</div>
<form class="form-horizontal" action="" method="post">
	{% csrf_token %}
	<div class="form-group">
		<p class="col-sm-2"></p>
		<div class="col-sm-8">
		{{ form.content }}
		</div>
		<p class="col-sm-2"></p>
	</div>
	<div class="form-group">
		<p class="col-sm-2"></p>
		<label class="col-sm-3 control-label">起个名字：</label>
		<div class="col-sm-3">
		{{ form.name }}
		</div>
		<div class="col-sm-2">
			<button type="submit" class="btn btn-info disabled" style="background: #00DDDD" />踩踩踩~</button>
		</div>
		<p class="col-sm-2"></p>
	</div>
</form>

	<div class="row">
		<p class="col-sm-2"></p>
		<hr class="col-sm-8" style="height:3px;border:none;border-top:3px double red;" />
        	<p class="col-sm-2"></p>
	</div>

	{% for message in messages %}
	<div class="row">
        	<p class="col-sm-2"></p>
		<div class="bs-component col-sm-8">
			<blockquote>
				<p>{{ message.content }}</p>
				<small>{{ message.time|date:"Y m-d f" }}<cite title="Source Title">  {{ message.name }}</cite></small>
			</blockquote>
		</div>
        	<p class="col-sm-2"></p>
	</div>
	{% endfor %}
</div>


<script type="text/javascript">
$("#id_name").addClass("form-control");
$("#id_content").addClass("form-control");
$("#id_content").attr({"placeholder":"说点啥吧。。。","rows":"3"});
var e = $("#error").text();
if(e==''){
	$("#error").remove();
}
</script>
{% endblock %}
