<!DOCTYPE html>
<html>
<div id="tochange" class="col-xs-9">
</div>

<div class="col-xs-3" id="myScrollspy">
    <ul class="nav nav-pills nav-stacked" id="myNav">
        <!--<li class="active"><a href="#html">HTML</a></li>-->
    </ul>
</div>

<xmp theme="a"  style="display:none;">
{{ file_content|safe }}
</xmp>

<script src="/static/js/strapdown.js"></script>
<script type = "text/javascript">
       var mark_html = $("#content").html();
       $("#tochange").append(mark_html);
       // 切掉原来的
       $("#content").remove();
//       添加链接
       add_h_id = '';
       var add_h = 1;
       $(":header").each(function () {
           add_h_id = 'add_h'+add_h ;
           console.log(add_h_id);
           $(this).attr('id',add_h_id);
           var toadd = '<li><a href="#'+ add_h_id +'" style="font-size:15px" >'+ $(this).text() +'</a></li>';
           $("#myNav").append(toadd);
           add_h +=1;
           console.log(add_h);
       });
        
</script>
</html>
