{% extends "index_basic.html" %}

{% block css_content %}
<script src="/static/js/bootstrap-treeview.js"></script>

<script src="/static/css/bootstrap-treeview.css"></script>
<style type="text/css">
    ul.nav-pills{
        width: 300px;
    }
    ul.nav-pills.affix{
        top: 10px; /* Set the top position of pinned element */
    }
    #lists ul li{
        padding: 2px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $("#myNav").affix({
            offset: {
                top: 320
            }
        });
    });
</script>

{% endblock %}

{% block main_body %}
    <!--<div class="bs-component" style="margin: 0px">-->
    <!--    <ul class="breadcrumb" style="margin: 0px">-->
    <!--      <li><a href="#">Home</a></li> -->
    <!--      <li><a href="#">Library</a></li> -->
    <!--          <li class="active">Data</li> -->
    <!--    </ul> -->
     <!--</div>-->

    <div class="container">
        <div class="row">
            <div class="col-xs-3 pull-left contailner">
                <div class="row">
                    <div class="col-xs-1 treeview"></div>
                    <div id="tree" class="col-xs-11 pull-left" style="font-size:15px"></div>
                </div>
            </div>
            <div id="tochange" class="col-xs-8">
            </div>

            <div class="col-xs-1" id="myScrollspy">
                <ul class="nav nav-pills nav-stacked" id="myNav">
                    <!--<li class="active"><a href="#html">HTML</a></li>-->
                </ul>
            </div>

       </div>
    </div>

<xmp theme="a"  style="display:none;">
{{ file_content|safe }}
</xmp>

<script src="/static/js/strapdown.js"></script>
<script type = "text/javascript">
       var mark_html = $("#content").html();
       $("#tochange").append(mark_html);
       // 切掉原来的
       $("#content").remove();
//       添加链接
       add_h_id = '';
       var add_h = 1;
       $(":header").each(function () {
           add_h_id = 'add_h'+add_h;
           tag = $( this )[0].tagName;
           space_num = Number(tag.charAt(tag.length-1))-1;
           console.log(space_num)
           space_str =  new Array(space_num).join("&emsp;");
           console.log(space_str);
           $(this).attr('id',add_h_id);
           var toadd = '<li><a href="#'+ add_h_id +'" style="font-size:15px" >'+ space_str  + $(this).text() +'</a></li>';
           $("#myNav").append(toadd);
           add_h +=1;
       });
        
</script>

<script>
     function dir_list() {
         var url = "/p/dir_list/";
         var back = [];
         $.ajax({
             type: "get",
             url: url,
             async: false,
             dataType: "json",
             success: function (result) {
                  back = result;
             // console.log(result);
             //render_life(result);
             },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                  //alert(XMLHttpRequest.status);
                  alert(XMLHttpRequest.readyState);
                  alert(textStatus);
              },
         });
         return back;
    }


    $('#tree').treeview({
        data: dir_list(),
        color: "#428bca",
        levels: 0,  // 默认展开层级
        collapseIcon: "glyphicon glyphicon-chevron-down", // 收缩图标
        expandIcon: "glyphicon glyphicon-chevron-right", //展开图标
        showBorder: false,
        //onNodeChecked: function (event,data) {
        //       alert(data.nodeId);
        //},
        onNodeSelected: function (event, data) {
            if(!data.nodes){
                window.location.href="/p/post/content/" + data.text + "/";
            }

        }
        });
</script>


{% endblock %}
